# Visual Studio Code Configuration Files
.vscode/

# Visual Studio Configuration Files
.vs/

# Python
*.pyc

# LoopbackCapture Build Output Folder
/LoopbackCapture/win32/csharp/LoopbackCapture/LoopbackCapture/bin/Debug
/LoopbackCapture/win32/csharp/LoopbackCapture/LoopbackCapture/obj/Debug
/LoopbackCapture/win32/csharp/LoopbackCapture/LoopbackCapture/bin/Release
/LoopbackCapture/win32/csharp/LoopbackCapture/LoopbackCapture/bin/Release
/LoopbackCapture/win32/cpp/LoopbackCapture/LoopbackCapture/Debug
/LoopbackCapture/win32/cpp/LoopbackCapture/LoopbackCapture/Release
/LoopbackCapture/win32/cpp/LoopbackCapture/Debug
/LoopbackCapture/win32/cpp/LoopbackCapture/Release
/LoopbackCapture/win32/cpp/LoopbackCapture/LoopbackCapture.VC.db
